.filterWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
}

.inputFilterTitle {
  font-size: 20px;
  margin-bottom: 10px;
  color: #3a76ef;
  margin: 0 auto;
}